
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
    padding: 100px;
}


header {
    background: #7e3b3bec;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(248, 248, 248, 0.2);
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.titulo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: #000000;
}

header p {
    font-size: 14px;
    color: #ccc;
}


.atividades {
    margin-top: 30px;
    background: #7e3b3bec;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(242, 253, 247, 0.2);
}

.atividades h2 {
    color: #000000;
}

.atividades ul {
    list-style-type: none;
    padding: 0;
}

.atividades li {
    margin: 10px 0;
}

.atividades a {
    color: #a7baf0d7;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.atividades a:hover {
    text-decoration: underline;
    color: #c6a7c7;
}


footer {
    margin-top: 50px;
    font-size: 14px;
    color: #888;
}

.foto-perfil {
    width: 80px;  
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #fff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); 
    margin-right: 15px; 
    vertical-align: middle; 
}